[submodule "packages/casa-img"]
	path = packages/casa-img
	url = https://github.com/worph/casa-img.git
	branch = main
[submodule "packages/mesh-router"]
	path = packages/mesh-router
	url = https://github.com/worph/meta-router.git
	branch = main
[submodule "packages/AppStore"]
	path = packages/AppStore
	url = https://github.com/worph/AppStore.git
